<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>iMedia PORT CLOUD SERVICE</title>
<!-- Meta tag Keywords -->
    <meta charset="UTF-8"/>
    <meta name="keywords" content="iMedia Cloud Play-out Service"/><meta name="description" content="iMedia Cloud Play-out Service"/>
    <script>



        addEventListener("load", function () {



            setTimeout(hideURLbar, 0);
        }, false);




        function hideURLbar() {
            window.scrollTo(0, 1);
        }


// Declaration of our Global Object==============================================
console.log ("   > = = = = = = = = = = = = = GOBLAL varaibles initiated = = = = = = = = = <");
const sessionValue = {};
        const GLOBAL = {
       
           username: 'guest',
            channel_id: 'new',
            admin_role: {},
            host_id:{},
            adminroles:[]
        }
    </script>
    <% const  $HR="https://imediaport.com:4646/"%>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
    <link rel="manifest" href="./manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!-- Custom-Files -->
        <!-- Bootstrap css -->
        <link
        href="<%-$HR%>css/style.css" rel="stylesheet" type="text/css" media="all"/> <!-- Main css -->
        <link
            rel="stylesheet" href="<%-$HR%>css/fontawesome-all.css">
            <!-- Font-Awesome-Icons-CSS -->
            <link
            href="<%-$HR%>css/popuo-box.css" rel="stylesheet" tsype="text/css" media="all"/>
            <!-- pop-up-box -->

            
            <script src='<%-$HR%>dist/index.global.js'></script>
            <link href="<%-$HR%>css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
            <link href="<%-$HR%>css/creditly.css" rel="stylesheet" type="text/css" media="all"/>
            <link href="<%-$HR%>css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>
            <link href="<%-$HR%>css/menu.css" rel="stylesheet" type="text/css" media="all"/>
            <link href="<%-$HR%>css/cloud.main.css" rel="stylesheet" type="text/css" media="all"/>
            <!-- menu style -->
            <!-- //Custom-Files -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
             
            

            <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js" integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script ssssrc="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.common.min.js" integrity="sha512-mO702mHlRSyiikpZ/tE5PDAHi1FYjgjDkoT/yvK7DgE8o22bcq/fvby2tqF5G9tOJrnFakgBSuv/Oki5UMq1jA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script sssrc="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.esm.min.js" integrity="sha512-ra/RUbfkWg5FK8u7aDV6+vWA4zhc/oqW34Y00pHBJ/4EIXE0Wq7oAOnahMp66hQH48IMF5nIbrncIvJmSYurQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css" integrity="sha512-YdYyWQf8AS4WSB0WWdc3FbQ3Ypdm0QCWD2k4hgfqbQbRCJBEgX0iAegkl2S1Evma5ImaVXLBeUkIlP6hQ1eYKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


           <script  src="<%-$HR%>lib/imedia/imediaport.engine.js"></script>
           <script  src="<%-$HR%>lib/imedia/epg.play.engine.js"></script>

            <!-- web fonts -->
                <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet"> <link
                    href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
                    <!-- //web fonts -->
                 
                    <script src="<%-$HR%>config/config.js"></script>

                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

                  
                    

                        <script>
//const imedia = 

//import { imedia } from "<%-$HR%>lib/imedia/imediaport.engine.js";
                            // Somewhere on your page(s) - here we use jQuery
                          
                          /****
                            $(document).ready(function () { // Check if they have been logged
                                if ($.cookie('logged') == null) { // Send screen size and whatever else that is not available from headers
                                    $.post('/logger', {
                                        width: screen.width,
                                        height: screen.height
                                    }, function (res) { // Set cookie  for 30 days so we don't keep doing this
                                        $.cookie('logged', true, {expires: 30});
                                    });
                                }
                            });
                            */
                        </script>


                     


                        <link href="<%-$HR%>css/mainmore.css" rel="stylesheet"/>

                        <link href="<%-$HR%>css/main.css" rel="stylesheet"/>
                        <link href="<%-$HR%>css/dark_query-ui.css" rel="stylesheet"/>
                        <link href="<%-$HR%>css/jqueryuidark.css" rel="stylesheet"/>
                        
                        <style></style>

                        <link href="<%-$HR%>css/jquery-ui.css" rel="stylesheet">
                        <link href="<%-$HR%>css/jquery-ui.theme.css" rel="stylesheet">

                        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
                        <script sssrc="//code.jquery.com/jquery-1.9.1.js"></script>
                        <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

                        <style>
body{
	margin:0px;
	padding: 0px;
    width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	font-size: medium;
	color: aliceblue;
	
	}
    

.imadia_container {      
font-family: "Open Sans", sans-serif;
font-size: 16px;
background-color: rgb(27, 29, 27);
width: 100vw;
height: 100vh;
margin:0px;
padding: 0px;
border: 4px solid rgb(48, 48, 48)

    }
           
           </style>

 </head>
 <body>
 <div class="imadia_container" >
                        <!--
              <div id="imedia_container" name="imedia_container" class="imedia_container">
--->